* {
    font-family: 'Teko', sans-serif;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}

/* .new_form{
    display: flex;
    flex-direction: column;

}  */
#navigation_bar {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: brown; */
}

#navigation_bar ol {
    /* width: 4.3rem; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /* width:35%; */

}


/* #navigation_bar .item1{
    width:4.76rem;
    background-color: crimson;
    position: relative;
    right:187px;
} */


#navigation_bar a {
    margin: 0px;
}

#navigation_bar a img {
    width: 63px;
    height: 30px;
}

/* 
.item{
    margin: 0px 0px;
} */

@media screen and (max-width:470px) {

    #navigation_bar {
        display: flex;
        flex-direction: column;
    }

    #front_view::before {
        height: 380px;
    }
}

@media screen and (max-width:270px) {


    #navigation_bar ol {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;

    }

    #front_view::before {
        height: 730px;
    }

    #front_view {
        height: 290px;
    }

    .primary h {
        font-size: 11px;
    }

    .primary p {
        font-size: 8px;
    }

}

#front_view {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin: auto; */
    /* margin: 2%; */
}

.primary {
    display: flex;
    height: 275px;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    width: 78%;

}

.primary p {
    font-size: 17px;
}

.primary h1 {
    font-size: 19px;
}

/* 
#services {
    margin-top: 15px;
} */

.subservice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tasks img,
#service_item1 img,
#service_item2 img {
    width: 50px;
    height: 35px;
}


.subservice .tasks {
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.order {
    width: 92%;
    /* height:92%; */
}

.order .button {
    width: 100%;
    font-size: 17px;
}

#clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 12px;
    /* min-height: 51vh; */
    justify-content: left;
    overflow: hidden;
}

#clients .client {
    margin: 7px 9px;
}

#contact_us {
    margin-top: 15px;
}

form {
    width: 90%;
    margin: auto;
}

.taking_input input,
.taking_input textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

button {
    height: 1rem;
    background-color: black;
    width: 19rem;
    color: white;
    border-radius: 3px ;
}